* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

:root {
  --primary-color: #006591;
  --secondary-color: #fea619;
  --text-one: #684000;
  --text-two: #3e4850;
  --text-three: #131b2e;
  --white: #ffffff;
  --btn-color1: #003751;
  --bg-color1: #0ea5e9;
  --bg-color2: #ffffff29;
  --bg-color3: #e7f2f9;
  --border-color: #6e6e6e;
  --body-color: #faf8ff /* --meraname: #006591; */;
}
img {
  width: 100%;
}
body {
  background-color: var(--body-color);
  padding-bottom: 150px;
}
/* pseudo element */
button:hover {
  cursor: pointer;
}
.container {
  width: 90%;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
}

header #sub-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

#logo img {
  width: 165px;
}
#hero-section {
  background-image: url("./../images/Container.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 900px;
  /* height: 300px; */
  /* background-position: center; */
}
nav ul {
  display: flex;
  gap: 30px;
}
nav ul li {
  list-style-type: none;
  color: var(--text-two);
  font-weight: bold;
}
nav ul li:hover {
  cursor: pointer;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
header button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-one);
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 25px;
}
#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
#overview {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#overview h3 {
  font-size: 64px;
  color: var(--white);
  font-weight: bolder;
}
#overview p {
  font-size: 18px;
  color: var(--white);
}
/* #overview-btns {
} */
.common-btn-styling {
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  font-weight: bolder;
}
#overview-btns {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
#overview-btn-1 {
  color: var(--btn-color1);
  background-color: var(--bg-color1);
}

#overview-btn-2 {
  color: var(--white);
  background-color: var(--bg-color2);
  border: 1px solid var(--border-color);
}
#popular-destination-section {
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#popular-destination-section h4 {
  color: var(--primary-color);
  font-weight: bold;
}

#popular-destinations-container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 48px;
}

.popular-destination-items {
  flex-basis: 30%;
  background-color: var(--white);
  border-radius: 12px;
  overflow: auto;
}
.popular-destination-items {
}

.destination-items-img-container {
  position: relative;
}
.destination-items-price {
  color: var(--primary-color);
  background-color: var(--bg-color3);
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  /* right: 0; */
  /* left: 0; */
  top: 10px;
  right: 10px;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: bold;
}

.popular-destination-items-cards {
  padding: 15px;
}
.popular-destination-items-cards h3 {
  color: var(--text-three);
  font-size: 24px;
  font-weight: bold;
}
.popular-destination-items-cards p {
  color: var(--text-two);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* #popular-destination-section h3 {
  color: var(--text-three);
  font-size: 32px;
  font-weight: bold;
} */

.popular-destination-items-cards button {
  border: 2px solid var(--bg-color1);
  width: 100%;
  background-color: transparent;
  padding: 8px 0px;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 16px;
}
